/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}
.cover-card-block {
  opacity: 1
}


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

.star-rating-label {
  cursor: pointer;
  font-size: 2rem;
  color: #ddd;
  transition: color 0.2s;
  display: inline-block;
}

.star-rating-label input[type="radio"] {
  display: none;
}

.star-rating-label:hover .star-rating-icon,
.star-rating-label:hover ~ .star-rating-label .star-rating-icon {
  color: #ffc107;
}

.star-rating-label:has(input[type="radio"]:checked) .star-rating-icon,
.star-rating-label:has(input[type="radio"]:checked) ~ .star-rating-label .star-rating-icon {
  color: #ffc107;
}

/* Clickable recipe cards */
.list-group-item-action {
  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
}

.list-group-item-action:hover {
  background-color: #f8f9fa;
  color: inherit;
}

/*
 * Dashboard filters
 */
.filters-card {
  background-color: #f8f9fa;
}

.dashboard-filters {
  position: sticky;
  top: 80px; /* keep under navbar */
}
