{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Delete Recipe</h1>
      <div class="alert alert-danger">
        <h4>Are you sure you want to delete this recipe?</h4>
        <p><strong>{{ recipe.title }}</strong></p>
        <p>This action cannot be undone. All ratings, comments, and planned meals associated with this recipe will also be deleted.</p>
      </div>
      <form action="{% url 'delete_recipe' pk=recipe.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete Recipe</button>
        <a href="{% url 'recipe_detail' pk=recipe.pk %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
