{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h1>Log in</h1>
      <form action="{% url 'log_in' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Log in" class="btn btn-primary">
      </form>

      <!-- ⭐ ADD THIS BLOCK BELOW THE FORM ⭐ -->
      <p class="mt-3">
        Don't have a profile?
        <a href="{% url 'sign_up' %}">Sign up</a>
      </p>
      <!-- ⭐ END OF ADDED BLOCK ⭐ -->

    </div>
  </div>
</div>
{% endblock %}
