{% extends 'base_content.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">

      <h2>Users {{ profile_user.full_name }} ({{ profile_user.username }}) is Following</h2>
      <hr>

      {% if following %}
        <ul class="list-group">
          {% for u in following %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'user_profile' u.id %}">
                {{ u.full_name }} ({{ u.username }})
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>This user isn't following anyone yet.</p>
      {% endif %}

      <br>
      <a href="{% url 'user_profile' profile_user.id %}" class="btn btn-secondary">
        Back to Profile
      </a>

    </div>
  </div>
</div>
{% endblock %}
